body {
  background-color: brown;
  margin: 0px;
}

button {
  cursor: pointer;
  padding: 15px 40px;
  border-radius: 40px;
  border: none;
  transition: 1s;
}

button:hover {
  background-color: brown;
  color:white;
}

ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

li {
  text-align: center;
  list-style-type: none;
  cursor: pointer;
  transition: 0.5s;
}

.clicked {
  color: red;
}

li:hover {
  color: red;
}

#content {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  
}

.nav-bar-header {
  display: flex;
  justify-content: space-around;
  background-color: brown;
  margin: 0px;
  align-self: stretch;
  color: white;
}

.info {
  margin-top: 270px;
  background-color: black;
  opacity: .5;
  margin-bottom: 60px;
  padding: 20px;
  border-radius: 10px;
  font-size: 24px;
  width: clamp(300px, 50%, 700px);
}

.menu-info {
  display: flex;
  color: white;
}

.pics {
  height: 150px;
  width: 150px;
  border-radius: 10px;
}

.menu-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  margin-bottom: 50px;
  font-size: 34px;
  gap: 100px;
  cursor: pointer;
}

.menu-items:hover {
  text-decoration: underline;
}

.menu-container {
  background-color: rgb(240, 209, 175);
  color: black;
  padding: 100px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 50px;
  font-size: 34px;
}

.icons {
  width: 50px;
  height: 50px;
}